.popup__nav {
  max-width: 100px;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 5;
  box-sizing: border-box;
  /* border-bottom: 1px solid #000000; */
  transition: 0.5s linear;
  visibility: hidden;
  opacity: 0;
  right: 0;
  position: absolute;
}

.popup_fadein {
  visibility: visible;
  opacity: 1;
}

/* .popup_fadeout {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.8s linear, opacity 0.8s linear;
} */

.popup__nav-list {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin-top: 0;
}

.popup__nav-box {
  box-sizing: border-box;
  border-bottom: 1px solid #000000;
  opacity: 0.5;
  /* border: 1px solid black; */
}

.popup__nav-link {
  margin: 0;
  color: #000000;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.popup__nav-link:hover {
  color: #0882ff;
}
