@keyframes show {
  0% {
    transform: translate(10px);
    opacity: 0;
  }
  50% {
    transform: translate(15px);
    opacity: 0.5;
  }
  100% {
    transform: translate(20px);
    opacity: 1;
  }
}

.popup__nav {
  position: fixed;
  left: 85%;
  top: auto;
  max-width: 200px;
  justify-content: flex-end;
  align-items: flex-start;
  background: #000000;
  visibility: hidden;
  z-index: 5;
  opacity: 0;
  display: none;
}

.popup_fadein {
  visibility: visible;
  opacity: 1;
  display: flex;
  float: right;
  animation: show 0.8s linear ease-in-out;
}

.popup__nav-list {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  gap: 15px;
}

.popup__nav-box {
  box-sizing: border-box;
  border-bottom: 1px solid #ffffff;
}

.popup__nav-link {
  margin: 0;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.popup__nav-link:hover {
  color: #0882ff;
}

@media screen and (max-width: 800px) {
  .popup__nav {
    left: 80%;
  }
}

@media screen and (max-width: 600px) {
  .popup__nav {
    left: 75%;
  }
}

@media screen and (max-width: 400px) {
  .popup__nav {
    left: 60%;
  }
}
