.page {
  position: relative;
  max-width: 1280px;
  margin: auto;
  font-family: "Ubuntu", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #000000;
  background: #ffffff 100vw;
  -webkit-background-size: 100vw;
  -moz-background-size: 100vw;
  -o-background-size: 100vw;
  background-size: 100vw;
  transition: show 0.3s ease-in-out;
}
html {
  scroll-behavior: smooth;
}
